<header>
    <% include ../partials/header %>
</header>

<main>
    <h1><%-title %></h1>
    <h2><%- description%></h2>
    <h3><%- date%></h3>
    ----------------------------
    <h3> Where does this stuff come from? Check out the alternative to the alternative (real) news here: </h3>
    <h2> <%- reference%> </h2>
    <h2> <%- referenceDescription%> </h2>
    <div style="text-align: center">
        <a href='https://jokes-website.herokuapp.com'> view in browser </a>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>