<h1> Monday <%=day1.date%> </h1>
<h2> <%-day1.jokeTitle%> </h2>
<p> What is this joke about? </p>
<p> This joke was inspired by this <a href='<%= day1.reference %>'>news item </a>, 
which states that <%=day1.description%>

<h1> Tuesday <%=day2.date%> </h1>
<h2> <%-day2.jokeTitle%> </h2>
<p> What is this joke about? </p>
<p> This joke was inspired by this <a href='<%= day2.reference %>'>news item </a>, 
which states that <%=day2.description%>

<h1> Wednesday <%=day3.date%> </h1>
<h2> <%-day3.jokeTitle%> </h2>
<p> What is this joke about? </p>
<p> This joke was inspired by this <a href='<%= day3.reference %>'>news item </a>, 
which states that <%=day3.description%>

<h1> Thursday <%=day4.date%> </h1>
<h2> <%-day4.jokeTitle%> </h2>
<p> What is this joke about? </p>
<p> This joke was inspired by this <a href='<%= day4.reference %>'>news item </a>, 
which states that <%=day4.description%>

<h1> Friday <%=day5.date%> </h1>
<h2> <%-day5.jokeTitle%> </h2>
<p> What is this joke about? </p>
<p> This joke was inspired by this <a href='<%= day5.reference %>'>news item </a>, 
which states that <%=day5.description%>
